@tailwind base;
@tailwind components;
@tailwind utilities;
 
.image-container {
  overflow: hidden;
  display: inline-block;
}

.content-hover-scale {
  transition: transform 0.3s ease-in-out;
}

.content-hover-scale:hover {
  transform: scale(1.05);
}