@tailwind base;
@tailwind components;
@tailwind utilities;
 
.image-container {
  overflow: hidden;
  display: inline-block;
}

.content-hover-scale {
  transition: transform 0.3s ease-in-out;
}

.content-hover-scale:hover {
  transform: scale(1.05);
}
 blockquote{
   color: #6b7280 ;
}

.checkmark {
  @apply text-green-500 text-9xl -mt-10;
}
.card {
  @apply bg-white p-16 rounded-lg shadow-md inline-block;
}